.expense-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  box-sizing: border-box;
  margin-inline: auto;
  margin-top: 1.5rem;
  padding: 0 2rem;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
}

.expense-chart-container h1 {
  color: hsl(25, 47%, 15%);
  font-weight: 600;
}

.bar-chart {
  width: 430px;
}

.bar-chart {
  color: hsl(28, 10%, 53%);
}

/** Media Queries */
@media (max-width: 600px) {
  .expense-chart-container {
    width: 340px;
  }

  .expense-chart-container h1 {
    font-size: 1.5rem;
  }
}
